[Unit]
Description=Run NetBackup every 5 minutes (testing)

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
Persistent=true

[Install]
WantedBy=timers.target
